body {
    font-family: '微软雅黑';
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-transition: background-color 1.25s ease-in-out;
    transition: background-color 1.25s ease-in-out;
}

.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
    }
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 14px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
#allmap{width:70%;height:500px;margin:20;}

divPop{
    display: none;
    width: 400px;
    height: auto;
    border:0px solid white;
    width:150%;
    z-index:2;
    position:absolute;
    border-top:none;
}
divShadow{
    position:absolute;
    z-index:1;
    width:100%;
    height:120%;
    background-color:black;
    display:none;
    opacity:.5;
}

