{% extends "base.html" %}
{% block header %}
    <script src="{{url_for('static', filename='highcharts/highcharts.js')}}"></script>
    <script src="{{url_for('static', filename='highcharts/modules/exporting.js')}}"></script>
    <script src="{{url_for('static', filename='highcharts/modules/data.js')}}"></script>
    <script src="{{url_for('static', filename='highcharts/modules/data.js')}}"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}
{% block content %}

    <div class="jumbotron" id="common">
                <div class="row">                
                <!--div class="col-md-3  col-md-offset-1">
                    <h4 class="list-group-item">校园网流量总计<span class="badge"></span></h4>
                    <ul class="list-group">
                        {%for flow in flows%}
                        <li class="list-group-item">{{flow.name}}<span class="badge">{{flow.data}}</span></li>
                        {%endfor%}
                    </ul>
                </div-->   
                
                <div class="row">                
                <div class="col-md-5 col-md-offset-1">
                    <h4 class="list-group-item">热门访问网站<span class="badge"></span></h4>
                    <ul class="list-group">
                        {%for hot in hots%}
                        <li class="list-group-item">{{hot.name}}<span class="badge">{{hot.num}}</span></li>
                        {%endfor%}                        
                    </ul>
                </div>                         
                <div class="col-md-5 ">
                    <h4 class="list-group-item">可疑热门网站<span class="badge"></span></h4>
                    <ul class="list-group">
                        {%for hot in danger_hots%}
                        <li class="list-group-item">{{hot.name}}<span class="badge">{{hot.num}}</span></li>
                        {%endfor%}                        
                    </ul>
                </div>         
                <div class="col-md-5 col-md-offset-1">
                    <h4 class="list-group-item">内部可疑网站<span class="badge"></span></h4>
                    <table class="table table-striped">                    
                    <thead>
                        <tr>
                        <th>名称</th>
                        <th>域名</th>                        
                        <th>时间</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%for hot in dangers_in%}
                        <tr>                            
                        <td>{{hot.name}}</td>
                        <td>{{hot.ip}}</td>
                        <td>{{hot.date}}</td>
                        </tr>
                    {%endfor%}
                    </tbody>
                    </table>
                    <!--ul class="list-group">
                        {%for danger in dangers_in%}
                        <li class="list-group-item">{{danger.name}}<span class="badge">{{danger.id}}</span></li>
                        {%endfor%}
                    </ul-->
                </div>   
                <div class="col-md-5 ">
                    <h4 class="list-group-item">外部可疑的网站<span class="badge"></span></h4>
                    <table class="table table-striped">                    
                    <thead>
                        <tr>
                        <th>名称</th>
                        <th>域名</th>                        
                        <th>时间</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%for hot in dangers_out%}
                        <tr>                            
                        <td>{{hot.name}}</td>
                        <td>{{hot.ip}}</td>
                        <td>{{hot.date}}</td>
                        </tr>
                    {%endfor%}
                    </tbody>
                    </table>
                    <!--ul class="list-group">
                        {%for danger in dangers_out%}
                        <li class="list-group-item">{{danger.name}}<span class="badge">{{danger.id}}</span></li>
                        {%endfor%}                        
                    </ul-->
                </div>         
               </div>
    </div>  
    

    <script type="text/javascript">
    
    </script>
{% endblock %}

